.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.formInput {
  width: 357px;
}

.formError {
  position: relative;
}

.errorForm {
  position: relative;
}

.errorForm p:nth-child(1),
.error_auth {
  position: absolute;
  bottom: 70px;
  color: var(--dark-background-error);
  font-size: 14px;
}

.errorForm p {
  margin: 0;
}