.blog-detail {
  margin-top: 50px;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

.blog-cover {
  position: relative;
}

.blog-cover-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  color: var(--color-white);
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.blog-cover-image {
  background-color: var(--background-color);
  border-radius: 10px;
}

.blog-content-info {
  position: relative;
  color: var(--info-color);
  display: flex;
  justify-content: center;
}

.dot::after {
  position: relative;
  content: '.';
  font-size: 25px;
  top: -3px;
  padding-inline: 5px;
}

.blog-content-description {
  line-height: 1.8;
  font-size: 18px;
}

.blog-detail-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.blog-detail-link {
  display: flex;
  gap: 4px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.blog-detail-link span {
  color: var(--color-black);
}

.blog-detail a {
  font-size: 18px;
}

.blog-detail a:visited {
  color: var(--color-link);
}