.blog-detail {
  margin-top: 50px;
  margin-inline: auto;
}

.blog-cover {
  position: relative;
}

.blog-cover-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  color: var(--color-white);
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.blog-cover-image {
  background-color: var(--bg-color);
  border-radius: 10px;
}

.blog-content-info {
  position: relative;
  top: 4px;
  color: #777;
}

.blog-content-description {
  line-height: 1.8;
  font-size: 18px;
}
