.blog-title {
  text-align: center;
  font-size: 36px;
  color: var(--main-text-color);
  margin-bottom: 20px;
  margin-top: 106px;
}

.blogs {
  margin-inline: 0 auto;
}

.blog-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-inline: auto;
}

.dark-blog-title {
  color: var(--dark-main-text-color);
}
