/* General Styles */
:root {
  /* Light Mode */
  --main-text-color: #333;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --background-color: #00005cde;
  --color-white: #fff;
  --color-black: #000;
  --color-link: #0000ee;
  --bg-color: #00005c;
  --info-color: #777;
  --color-shade: #555;
  --color-button-disable: #ccc;
  --color-transparent-button-disable: #ffffffe6;
  --background-error: #e91c1c;
  --background-success: #057205;
  --transition-color: color 0.3s ease-in-out;
  --transparent-navbar: #111111f8;
  --modal-content: #7f9cfbf2;

  /* Dark Mode */
  --dark-main-text-color: #fff;
  --dark-box-shadow-color: rgba(255, 255, 255, 0.1);
  --dark-background-color: #222;
  --dark-transparent-background-color: #222222eb;
  --dark-color-white: #fff;
  --dark-color-black: #fff;
  --dark-color-link: #9696ff;
  --dark-bg-color: #333;
  --dark-info-color: #aaa;
  --dark-color-shade: #999;
  --dark-color-button-disable: #444;
  --dark-background-error: #ff4d4d;
  --dark-background-success: #4caf50;
  --dark-transparent-navbar: #f2f2f29b;
  --dark-seaarch-input: #161515;
  --dark-modal-content-hover: #05258f9b;
  --dark-modal-content: #020202ee;
  --dark-search-color: #00000080;
}

body,
html {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

nav {
  background-color: var(--transparent-navbar);
  border: 1px solid var(--color-button-disable);
  padding: 15px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  width: 100%;
}

.navbar .divlink:first-child {
  margin-left: 5%;
}

.navbar .divlink:last-child {
  margin-right: 5%;
}

nav .navlink {
  color: var(--color-black);
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;
  transition: var(--transition-color);
  position: relative;
}

nav .navlink:hover::after,
nav .navlink.active::after {
  color: var(--main-text-color);
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  right: 0;
  top: 43px;
  border: 2px solid var(--transparent-navbar);
  border-radius: 4px;
}

nav .navlink.dark-active::after {
  border: 2px solid var(--dark-transparent-navbar);
}

a {
  text-decoration: none;
}

h3 {
  cursor: pointer;
  display: inline-block;
  margin-bottom: -20px;
}

h3::after {
  position: relative;
  left: 5px;
  display: none;
}

h3:hover::after {
  display: inline;
}

h3::after {
  content: url(https://img.icons8.com/metro/20/link.png);
}

button {
  background-color: var(--background-color);
  padding: 10px 17px;
  color: var(--color-white);
  border: 1px solid var(--background-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    var(--transition-color);
}

button:hover {
  background-color: var(--bg-color);
  border-color: var(--bg-color);
}

button:disabled {
  background-color: var(--color-button-disable);
  color: var(--main-text-color);
  border-color: var(--main-text-color);
}

footer {
  background-color: #fff;
  color: var(--dark-background-color);
  border-top: 1px solid var(--dark-info-color);
  text-align: center;
  padding: 15px 0;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
}

footer a {
  color: var(--color-link);
}

footer a:hover {
  text-decoration: underline;
}

footer .dark-a {
  color: var(--dark-color-link);
}

hr {
  border: none;
  border-top: 1px solid var(--color-button-disable);
}

/* Dark Mode Styles */
.nav {
  background-color: var(--dark-background-color);
  border: 1px solid var(--main-text-color);
}

.nav a {
  color: var(--dark-color-white);
}

.nav a:hover::after {
  color: #ccc;
  border: 2px solid #f2f2f2b1;
}

.button {
  background-color: var(--dark-background-color);
  color: var(--dark-color-white);
  border: 1px solid var(--dark-background-color);
}

.button:hover {
  background-color: var(--dark-background-color);
  border: 1px solid var(--main-text-color);
}

.button:disabled {
  background-color: var(--dark-color-button-disable);
  color: var(--dark-main-text-color);
  border-color: var(--dark-main-text-color);
}

.footer {
  background-color: var(--dark-background-color);
  border-top: 1px solid var(--main-text-color);
  color: var(--dark-color-white);
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
  background-color: #fff;
}

.hr {
  border: none;
  border-top: 1px solid var(--dark-color-button-disable);
}

.dark-body,
.dark-html {
  background-color: var(--dark-background-color);
  color: var(--dark-main-text-color);
}

.dark-nav {
  background-color: var(--dark-background-color);
}

.dark-a {
  color: var(--dark-color-white);
}

.dark-nav .dark-a:hover {
  color: var(--dark-color-button-disable);
}

input.dark-search-input {
  background-color: var(--dark-transparent-background-color);
}

.dark-button {
  background-color: var(--dark-background-color);
  color: var(--dark-color-white);
  border: 1px solid var(--dark-background-color);
}

.dark-button:hover {
  background-color: var(--dark-background-color);
  border: 1px solid var(--main-text-color);
}

.dark-button:disabled {
  background-color: var(--dark-color-button-disable);
  color: var(--dark-main-text-color);
  border-color: var(--dark-main-text-color);
}

.dark-footer {
  background-color: var(--dark-background-color);
  color: var(--dark-color-white);
}

.dark-hr {
  border: none;
  border-top: 1px solid var(--dark-color-button-disable);
}

.dark-blog-detail h3::after {
  content: url(https://img.icons8.com/ffffff/metro/20/link.png);
}

@media (min-width: 0) {
  .blog-card {
    width: 100%;
  }
  .blog-detail,
  hr {
    width: 90%;
  }
  .sidebar {
    display: none;
  }
}

@media (min-width: 701px) {
  .blog-card {
    width: 48%;
  }
}

@media (min-width: 1100px) {
  .blog-card {
    width: 30%;
  }
}

@media (min-width: 0px) {
  .blog-card {
    height: 480px;
    width: 100%;
  }
  .blog-container {
    width: 100%;
  }
}

@media (min-width: 382px) {
  .blog-card {
    height: 450px;
  }
}

@media (min-width: 480px) {
  .blog-card {
    height: 420px;
  }
}

@media (min-width: 575px) {
  .blog-card {
    height: 400px;
  }
}

@media (min-width: 765px) {
  .blog-card {
    height: 460px;
    width: 42%;
  }
}

@media (min-width: 991px) {
  .blog-detail {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .blog-card {
    height: 390px;
  }
}

@media (min-width: 1200px) {
  .blog-detail,
  hr {
    width: 70%;
  }
  .blog-container {
    width: 90%;
  }
}

@media (min-width: 1300px) {
  .blog-detail,
  hr {
    width: 60%;
  }
  .sidebar {
    display: block;
    width: 212px;
  }
}

@media (min-width: 1400px) {
  .blog-detail,
  hr {
    width: 53%;
  }
}

@media (min-width: 1600px) {
  .blog-card {
    width: 30%;
    height: 350px;
  }
}
