.blog-numbered-pagination {
  text-align: center;
}

.blog-buttons-pagination {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.blog-button-icon {
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  border-radius: 4px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-active-button {
  background-color: var(--bg-color);
  color: var(--color-white);
  transition: background-color 0.3s, color 0.3s;
}
